<div class="page">
  <%= link_to truncate(page.title, length: 20), show_page_path(create_link(page.path.all)) %>
  &nbsp;&nbsp;
  <span class="more_link">
    (<%= link_to 'Добавить', add_page_path(create_link(page.path.all)) %>/
    <%= link_to 'Редактировать',  edit_page_path(create_link(page.path.all)) %>)
  </span>
</div>