<h1><%= @page.title %></h1>

<%= simple_format formatting_text(@page.description) %>

<div class="bottom_action_menu">
  <%= link_to 'Редактировать',  edit_page_path(create_link(@page.path.all)) %> / 
  <%= link_to 'Добавить',  add_page_path(create_link(@page.path.all)) %>
</div>